/* global styles */
.pull-left{
	float:left;
}
.pull-right{
	float:right;
}
.clear{
	clear: both;
}
.text-center{
	text-align: center;
}

/* global colors */
.white{
	color:white;
}
.blue-grey{
	color:#9EB5CA;
}
.light-grey{
	color:#F3F3F3;
}
.dark-grey{
	color:#B8B8B8;
}
.darken-grey{
	color:#898989;
}
.deep-dark-grey{
	color:#616161;
}
.light-blue{
  color:#E8F3FA;
}

/* global font style */
.light-weight{
	font-weight: lighter;
}
.bold-weight{
	font-weight: bold;
}
/* margin */
.mt0   {margin-top:0px !important;}
.mt5   {margin-top:5px !important;}
.mt10  {margin-top:10px !important;}
.mt15  {margin-top:15px !important;}
.mt20  {margin-top:20px !important;}
.mt30  {margin-top:30px !important;}
.mt40  {margin-top:40px !important;}
.mt50  {margin-top:50px !important;}
.mt60  {margin-top:60px !important;}
.mt70  {margin-top:70px !important;}
.mb0   {margin-bottom:0px !important;}
.mb5   {margin-bottom:5px !important;}
.mb10  {margin-bottom:10px !important;}
.mb15  {margin-bottom:15px !important;}
.mb20  {margin-bottom:20px !important;}
.mb30  {margin-bottom:30px !important;}
.mr5   {margin-right:5px !important;}
.mr10  {margin-right:10px !important;}
.mr15  {margin-right:15px !important;}
.mr20  {margin-right:20px !important;}
.mr30  {margin-right:30px !important;}
.mr40  {margin-right:40px !important;}
.mr50  {margin-right:50px !important;}
.mr60  {margin-right:60px !important;}
.mr70  {margin-right:70px !important;}
.ml5   {margin-left:5px !important;}
.ml10  {margin-left:10px !important;}
.ml15  {margin-left:15px !important;}
.ml20  {margin-left:20px !important;}
.ml30  {margin-left:30px !important;}
.ml40  {margin-left:40px !important;}
.ml50  {margin-left:50px !important;}
.ml60  {margin-left:60px !important;}
.ml70  {margin-left:70px !important;}

/* padding */
.pt0   {padding-top:0px !important;}
.pt5   {padding-top:5px !important;}
.pt10  {padding-top:10px !important;}
.pt15  {padding-top:15px !important;}
.pt20  {padding-top:20px !important;}
.pt30  {padding-bottom:30px !important;}
.pb0   {padding-bottom:0px !important;}
.pb5   {padding-bottom:5px !important;}
.pb10  {padding-bottom:10px !important;}
.pb15  {padding-bottom:15px !important;}
.pb20  {padding-bottom:20px !important;}
.pb30  {padding-bottom:30px !important;}
.pr5   {padding-right:5px !important;}
.pr10  {padding-right:10px !important;}
.pr15  {padding-right:15px !important;}
.pr20  {padding-right:20px !important;}
.pr30  {padding-right:30px !important;}
.pl5   {padding-left:5px !important;}
.pl10  {padding-left:10px !important;}
.pl15  {padding-left:15px !important;}
.pl20  {padding-left:20px !important;}
.pl30  {padding-left:30px !important;}
/* custom navigation*/


.custom-navbar{
	background-color: transparent;
	background-image: none;
	border:none;
	box-shadow: none;
}

.navbar-default .navbar-nav>li>a  {
	color:white;
	text-shadow:none;
}

.arrow_box {
	padding:30px;
	position: relative;
	border: 4px solid #transparent;
	border-radius: 10px;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #88b7d5;
	border-width: 30px;
	margin-left: -30px;
}
.arrow_box:before {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #transparent;
	border-width: 36px;
	margin-left: -36px;
}
