/* section1 Home */
#home{
	min-height: 760px;
	background-image: url("../image/section1_bg.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
}

#name_logo{
	padding-top:300px;
}

#name_description{
	color:white;
	font-weight: normal;
}


