#Service .content{
	background-color:#292929;
	padding-top:18px;
	padding-bottom: 18px;
}
#Service .content p{
	line-height: 1.7;
}

#Service #service-taxation{
	background-image: url("../image/tax_form_bg.png");
	background-repeat:no-repeat;
	background-size:50%;
	transition:0.5s;
	background-position:100% 50%;
}
#Service #service-taxation:hover,#Service #service-accounting:hover,#Service #service-business:hover{
	background-size: 53%
}
#Service #service-business{
	background-image: url("../image/business_bg.png");
	background-repeat:no-repeat;
	background-size:50%;
	transition:0.5s;
	background-position:0% 50%;
}

#Service #service-accounting{
	background-image: url("../image/accounting_bg.png");
	background-repeat:no-repeat;
	background-size:50%;
	transition:0.5s;
	background-position:100% 50%;
}
